
/* Add Border Box to all elements */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid whitesmoke !important;
  } */

:root {
    --color-goalie-crease: #adbfc3;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

header {
    display: grid;
    background-image: url(../images/arena-Oilers.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: whitesmoke;
    align-content: center;
    margin: 0;
    padding: 0;
}

.odin-logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.712); 
    padding: 1em;
    height: 20%;
    justify-content: space-evenly;
}

.odin-logo img {
    height: 100%;
}

h1 {
    display: inline;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 2em;
}

main p {
    font-family: 'Albert Sans', sans-serif;
}

section {
    background-color: azure;
    border-radius: 1em;
}

main section.intro-text {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 1.25rem;
}

main section p {
    font-family: 'Albert Sans', sans-serif;
    padding: 0.5em 1.5em;
    margin: 0.25em;
    max-width: 50ch;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
    padding: 0;
}

label {
    font-family: 'Albert Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.form-inputs {
    display: grid;
    /* &:invalid:not(:focus):not(:placeholder-shown) {
        background: pink;
    } */
}

input {
    margin-top: 0.25em;
    margin-bottom: 1em;
    border-color: #E5E7EB;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 0.25em;
    padding: 0.25em;
}

input:valid {
    background: hsla(100, 90%, 70%, 1);
}

input:focus:invalid {
    background: hsla(0, 90%, 70%, 1);
}

input:focus {
    margin-top: 0.25em;
    margin-bottom: 1em;
    /* border-color: rgb(22, 173, 223); */
    border-color: var(--color-goalie-crease);
    border-width: 0.125em;
    border-style: solid;
    border-radius: 0.25em;
    padding: 0.25em;
    box-shadow: 5px 5px 2.5px lightblue;
    /* box-shadow: 100px, 5px, #2a3436, inset; */
    /* box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3); */
}

button {
    /* background-color: rgb(9, 83, 9); */
    background-color: #2a3436;
    color: whitesmoke;
    border-radius: 0.25em;
    font-family: 'Albert Sans', sans-serif;
    padding: 0.5em 1em;
    font-size: 1.25em;
}

button:hover {
    background-color: orange;
    color: #2a3436;
}

button:active {
    background-color: royalblue;
    color: orange;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

/* Media Queries */

@media (max-width: 650px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
    }
}

